.footer {
  padding: 32px 0;
  position: relative;
  background-image: url('../Images/foter-background\ PNG.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  font-size: 14px;

  @media screen and (min-width: $bp-tablet) {
    margin-top: 48px;
    font-size: 16px;
  }

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
  }

  &::before {
    width: 92px;
    height: 196px;
    top: 48px;
    left: 0;
    background-image: url('../images/mob-bred-1.png');

    @media screen and (min-width: $bp-tablet) {
      width: 180px;
      height: 120px;
      top: 133px;
      background-image: url('../images/Decor-bred-small.png');
    }
  }
  &::after {
    width: 112px;
    height: 120px;
    right: -10px;
    bottom: -28px;
    background-image: url('../images/mob-bred-2.png');

    @media screen and (min-width: $bp-tablet) {
      width: 378px;
      height: 187px;
      right: -24px;
      bottom: 0;
      background-image: url('../images/Decor-bred-large.png');
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 18px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__nav,
  &__address {
    display: flex;
    gap: 18px;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
      gap: 20px;
    }
  }

  &__nav {
    &--logo {
      width: 72px;
      height: 38px;
      flex-grow: 1;
      margin: 0 auto;

      @media screen and (min-width: $bp-tablet) {
        width: 108px;
        height: 57px;
      }
    }

    &--logo,
    &--menu {
      flex-basis: 50%;
    }
    &--menu {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 16px;
    }
  }

  &__address {
    &--list,
    &--info {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 16px;
    }
    &--link {
      color: var(--color-ptimary-light);
      font-size: 14px;
      font-weight: 300;
      text-decoration: none;

      @media screen and (min-width: $bp-tablet) {
        font-size: 16px;
      }

      &:hover {
        color: var(--color-brand-normal);
      }
    }

    &--icon {
      fill: var(--color-ptimary-light);
      margin-right: 22px;

      &:hover {
        fill: var(--color-brand-normal);
      }
    }

    &--copyright {
      color: var(--color-secondary-dark);
      font-size: 12px;
      font-weight: 400;

      @media screen and (min-width: $bp-tablet) {
        font-size: 14px;
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 16px;
    }

    &--icons {
      display: flex;
      margin: 0 auto;
      @media screen and (min-width: $bp-tablet) {
        margin: 0;
      }
    }
  }
}
